.react-datepicker-popper {
    padding-top: 0;
}
.react-datepicker {
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 6%);
    background: #f8f8f8;
}

.react-datepicker .react-datepicker__header {
    background: #f8f8f8;
}

.react-datepicker .react-datepicker__day--today:not(.react-datepicker__day--in-range),
.react-datepicker__day--keyboard-selected {
    background-color: #e5e5e5;
}

.react-datepicker__week-number {
    width: 2em;
    line-height: 2em;
    margin: 4px;
}
